@CHARSET "ISO-8859-1";

HTML {
	height:                100%;
    overflow-y:         scroll;	
}

BODY {
    height:                100%;
	background-color:   #666;
    background:         -webkit-gradient(linear, left top, left bottom, from(#000), to(#333)) fixed;
    background:         -moz-linear-gradient(top, #000, #444);    
    background-repeat:  no-repeat;
    font-family:        'Ubuntu', sans-serif;
 	margin:				0 auto;
 	padding:			0;
}

A {
	text-decoration:	none;
	color:				#FFF;
}
.container {
}

.header {
	background-color:	#000;
	padding:            10px;
	margin:				0 auto;
	color:				#CCC;
	height:          	100px;
}

.title {
    width:              1175px;
    margin:             0 auto;
	font-size: 			18px;
	font-weight:		700;
    padding:            5px;
}

.links {
	width:              1210px;
    margin:             0 auto;
	font-size:			14px;
	font-weight:		500;
	padding:            15px;
}

.sublinks {
    width:              1210px;
    margin:             0 auto;
    font-size:          12px;
    font-weight:        500;
    padding:            0px 15px 0px 15px;
}

.menu, .submenu {
	margin:				10px;
	padding:			4px 8px 4px 8px;
}

.menu:hover, .submenu:hover {
	padding:			4px 8px 4px 8px;
    border-bottom:		1px solid #DDD;
}

.content {
	max-width:          1200px;
	margin:             0px auto;
    font-weight:		400;	
    padding:			10px;
}

.image_list {
	border:             2px solid #000;
    margin:             8px;
}

.image_list:hover {
    transform:           scale(1.05);
    box-shadow:          1px 11px 15px 10px rgba(0,0,0,0.4);
    opacity:             1;
    transition-duration: 0.5s;
}

.item {
	float:             left;
}

.subitem_l {
	background-color:   #000;
	width:              500px;
	margin:             10px;
	padding:            10px;
	border-radius:      8px;
}

.subitems {	
    -webkit-column-count:   2; /* Chrome, Safari, Opera */
    -moz-column-count:      2; /* Firefox */
    column-count:           2;
    -webkit-column-gap:     0px; /* Chrome, Safari, Opera */
    -moz-column-gap:        0px; /* Firefox */
    column-gap:             0px;    
}

.img_list_item {
   display:             inline-block;	
   padding-left:        20px;
   
}

.img_list_info {
   display:             inline-block;   
   float:               right;
   width:               200px;
   color:               #EEE;
   font-size:           12px;
}

.pop_up_image {
	position:           absolute;
	display:            none;
    top:                10%;
    left:               19%;
    background-color:   #FFF;	
}