@CHARSET "ISO-8859-1";

HTML {
	height:             100%;
    overflow-y:         hidden;	
}

BODY {
    height:             100%;
	background-color:   #666;
    background:         -webkit-gradient(linear, left top, left bottom, from(#111), to(#333)) fixed;
    background:         -moz-linear-gradient(top, #111, #444);    
    background-repeat:  no-repeat;
    font-family:        'Ubuntu', sans-serif;
 	margin:				0 auto;
 	padding:			0;
}

A {
	text-decoration:	none;
	color:				#FFF;
}
.container {
}

.header {
	background-color:	#000;
	padding:            0px;
	margin:				0 auto;
	color:				#CCC;
	height:          	80px;
}

.title {
	float:              left;
    width:              375px;
    height:             55px;
	font-size: 			24px;
	color:             #FFF;
	font-weight:		400;
	text-align:         right;
    padding:            25px 30px 0px 0px;
    border-right:       1px solid #222;
    margin-right:       15px;
}

.links {
	font-size:			14px;
	font-weight:		400;
	padding:            30px 0px 0px 35px;
}

.links_other {
	padding:            25px 30px 0px 10px;
	height:             55px;
	width:             385px;
	float:             right;
	border-left:       1px solid #222;
}

.sublinks {
    width:              100px;
    margin:             0 auto;
    font-size:          14px;
    font-weight:        500;
    padding:            10px 15px 10px 15px;
    float:              right;
    text-align:         right;
    color:              #EEE;
}

.menu, .submenu, .menu_other {
    color:              #CCC;
	margin:				10px;
	padding:			4px 8px 4px 8px;
}

.submenu {
	line-height: 200%;
}

.menu_other {
    color:             #555;
	margin-top:        0px;
    padding-top:        0px;    
}

.menu:hover, .submenu:hover, .menu_other:hover {
	padding:			4px 8px 4px 8px;
    color:              #FFF;
    cursor:             pointer;
}

.content {
	max-width:          1060px;
	margin:             0px auto;
    font-weight:		400;	
    padding-top:        10px;
}

.left_content {
	height: 100%;
	background-color: #000;
	width: 405px;
    float: left;
    position: absolute;
	margin-top: 0px;
	top: 82px;
	background:         -webkit-gradient(linear, left top, left bottom, from(#000), to(#333)) fixed;
    background:         -moz-linear-gradient(top, #111, #444);    
    background-repeat:  no-repeat;
}

.image_list {
    border:             2px solid #000;
    margin:             auto;
    position:           absolute; 
    bottom:             0;
    left:               0;
    right:              0;
}

.image_list:hover {
    transform:           scale(1.05);
    box-shadow:          1px 11px 15px 10px rgba(0,0,0,0.4);
    opacity:             1;
    transition-duration: 0.5s;
    cursor:              pointer;
}

.image_box {
	float:             left;
	width:             220px;
	height:            240px;
	position:          relative;
	margin:            2px 10px 10px 10px;
	padding:           2px 10px 10px 10px;
}


.item {
	float:             left;
}

.subitem_l {
	background-color:   #000;
	width:              500px;
	margin:             10px;
	padding:            10px;
	border-radius:      8px;
}

.subitems {	
    -webkit-column-count:   2; /* Chrome, Safari, Opera */
    -moz-column-count:      2; /* Firefox */
    column-count:           2;
    -webkit-column-gap:     0px; /* Chrome, Safari, Opera */
    -moz-column-gap:        0px; /* Firefox */
    column-gap:             0px;    
}

.img_list_item {
   display:             inline-block;	
   padding-left:        20px;
   
}

.img_list_info {
   display:             inline-block;   
   float:               right;
   width:               200px;
   color:               #EEE;
   font-size:           12px;
}

.popup_image {
	position:           absolute;
	display:            none;
	top:                84px;
	left:               50%;
    color:              #FFF;
    background-color:   #000;
    border:             2px solid #000;	
    border-radius:      10px;
    z-index:            5000;
}

.popup_src {
	padding:            10px;
}

.popup_txt {
	width:                 220px;
	padding:               10px;
    font-size:             12px;
    position:              absolute;
    bottom:                0;
    right:                 0;
}

.popup_title {
	font-weight:        700;
	font-size:          18px;
	border-bottom:      1px solid #222;
}

.popup_descr {
    line-height:        120%;
    color:              #DDD;
}

.popup_date {
	padding-top:       10px;
	color:              #AAA;
}

.popup_close, .popup_next, .popup_prev {
	float:             right;
	color:             #000;
	background-color:  #888;
	padding:           0px 6px 2px 6px;
	margin:            10px;
	font-weight:       700;
	border-radius:     4px;
}

.popup_close:hover, .popup_next:hover, .popup_prev:hover {
	cursor:            pointer;
	background-color:  #FFC166;
}

.cover {
    background-color:   #333;
    background:         -webkit-gradient(linear, left top, left bottom, from(#111), to(#333)) fixed;
    background:         -moz-linear-gradient(top, #111, #444);    
    background-repeat:  no-repeat;
    width:              100%;
    height:             100%;
    display:            none;
    position:           fixed;
    z-index:            2000;
}

.bottom_bar {
	background-color: #111;
	height: 40px;
    position: fixed;
    z-index: 6000; 
    bottom: 0; 
    left: 0;
    width: 100%;
}

.holder {
	padding: 5px;
	text-align: center;
	margin: 0 auto;
	font-weight: 500;
}

.jp-previous, .jp-current, .jp-next, .numbers {
	padding: 0px 6px 4px 6px;
	cursor: pointer;
}

.jp-previous:hover, .jp-current:hover, .jp-next:hover, .numbers:hover {
	background-color: #222;
	border-radius: 6px;
}

.jp-previous {
    padding-left: 20px;
    background-image: url("../img/white-arrow-left-hi.png");
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.jp-next {
	padding-left: 20px;
	background-image: url("../img/white-arrow-right-hi.png");
	background-size: 15px 15px;
	background-position: center;
	background-repeat: no-repeat;
}